.feature-main{
    margin-top: 100px;
    
}

.feature-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feature-header h2{
    color: #0a472e ;
    font-size: 30px;
    position: relative;
    margin-left: 30px;
}
.feature-header h2::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border: 3px solid #bac34e;
    border-radius: 100%;
    left: -50px;
    top: 3px;
}

.seller-header h2::before{
    border: 3px solid red;
}

.feature-link{
    border-color: #bac34e ;
}
.feature-link a{
    color: #bac34e;
}
.feature{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.feature-item{
    width: calc(25% - 30px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 30px;
    text-align: center;
    border: 3px solid #e1e1e1 ;
    border-radius: 30px;
    position: relative;
}
.feature-item>img{
    width: 100%;

}

.feature-item--link1{
    margin-top: 30px;
    color: #bac34e;
}
.feature-item--link2{
    color: #000;
    font-size: 14px;
    margin: 15px 0;
    transition: .4s;
}
.feature-item--link2:hover{
    color: #bac34e;
}
.feature-item h3{
    color: #e0bf96;
    font-size: 18px;
    margin-bottom: 15px;
}
.feature-line{
    width: 80px;
    height: 2px;
    background-color: #bac34e;
    margin-bottom: 20px 0;
    transition: .4s;
}
.feature-item:hover .feature-line{
    background-color: #bac34e;
    width: 120px;
    height: 2px;
}
.feature-link-dop{
    margin-top: 20px;
    border: none;
}
.feature-hidden{
    display: flex;
    position: absolute;
    top: 60%;
    opacity: 0;
    transition: .4s;
}

.feature-item:hover .feature-hidden{
    top: 60%;
    opacity: 1;
}

.feature-hidden div{
    width: 40px;
    height: 40px;
    border: 1px solid #e1e1e1;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.feature-hidden img{
    transition: .4s;
}

.feature-hidden div:hover{
    background-color: #0a472e;
}

.feature-hidden div:hover i{
    filter: invert(1);
}


@media(max-width:1000px){
    .feature-item{
        width: calc(25% - 10px);
        padding: 30px 15px;
    }
}

@media(max-width:800px){
    .feature-item:last-child{
        display: none;
    }
    .feature-item{
        width: calc(33.33% - 20px);
    }
}

@media(max-width:550px){
    .feature-header h2{
        font-size: 20px;
        margin: 0;
    }
    .feature-header h2::before{
        display: none;
    }

    .feature-item:nth-child(3){
        display: none;
    }

    .feature-item{
        width: calc(50% - 20px);
    }
    
}

@media(max-width:400px){
    .feature-item:nth-child(2){
        display: none;
    }
    .feature-item{
        width: calc(100% - 20px);
    }
    
}